/* the --color-header and others are CSS variables, which we access later. 
*/

HTML {
    --color-header: #00000;  /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-hilite: #00000;  /* was red, but this avoids WAVE contrast errors */ 
    --color-focus: #00000;
    /* --font-family: Verdana; */
    --font-family: 'Inter', sans-serif;    
    font-family: var(--font-family);
    background-color: #E5E5E5;
}

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: var(--color-hilite);
    font-style: italic;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 130px 0px;
}


h1 {
    font-size: 200%;
    color: var(--color-header);
    font-weight: 700;
    margin: 0 auto;
    padding: 10px 0px;
}

h2, h3 {
    color: var(--color-header);
    font-weight: 300;
    margin: 0 auto;
    padding: 10px 0px;
    letter-spacing: 1px;

}

.signup_login {
    display: flex;
    margin: 0px auto;
    flex-direction: row;
}

.main_redirect {
    color: black;
    margin: 20px 50px;
    padding: 10px 20px;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: .3s;
    transition-delay: 0s;
}

a:hover {
    background-color: #a6a6a6;
  }

p {
    /* margin: 0px auto; */
    text-align: center;
    padding: 10px 0px;
    font-weight: 300;
} 

input {
    padding: 10px 20px;
    margin-bottom: 10px;

}

.submit {
    margin-top: 20px;
    background-color: #c7c7c7;
    border: 1px solid #c7c7c7;
    text-shadow: none;
    transition-property: background-color;
    transition-duration: .3s;
    transition-delay: 0s;
}

.submit:hover {
    background-color: #a6a6a6
}

.redirect_login {
    color: black;
    font-weight: 500;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 100px 0px;
}

.title {
    margin: 0px 0px;
    padding: 0px;
}

.logout {
    margin: 0px;
}

.homepage {
    margin-top: 30px;
}

/* for a simple navbar. Talk to Scott if you want drop-downs. */
nav > ul {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav > ul > li {
    flex: 0 0 auto;
    width: 15em; 
}

nav button, nav a {
    display: block;
    box-sizing: border-box; /* easier to make button and A the same size */
    width: 100%;
    height: 40px;
    padding: 0px;
    padding-bottom: 5px;
    background-color: var(--color-header); /* was #3498db */
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    /* Firefox uses font -apple-system unless I repeat the font spec here. */
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1.4rem;
}

/* Only the top-level buttons are centered; lower ones are left-aligned. */
nav > ul > li > button , nav > ul > li > a {
    text-align: center;
}

/* because of the margin trick, this can only be used for the last element */

nav li.right {
    margin-left: auto;
}

nav button:hover, button:focus, nav a:hover, nav a:focus {
    background-color: var(--color-focus);
}

/* for homepage.html */ 
.flex-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.spot {
    margin: 100px;
}

a:link {
    font-style: normal;
    text-decoration: none;
    color: black;
}
a:visited {
    font-style: normal;
    text-decoration: none;
    color: black;
}
a:hover {
    font-style: normal;
    text-decoration: none;
    color: grey;
}


.name {
    font-size: 24px;
    margin-bottom: 6px;
}
.location {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 6px;
}
