/* the --color-header and others are CSS variables, which we access later. 
*/

HTML {
    --color-header: #1C2321;  /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-hilite: #000000;  /* was red, but this avoids WAVE contrast errors */ 
    --color-focus: #00000;
    /* --font-family: Verdana; */
    --font-family: 'Inter', sans-serif;    
    font-family: var(--font-family);
    background-color: #ddc9c1;
}

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: var(--color-hilite);
    font-style: italic;
}

.flex-kind{
    display:flex;

}

.kind-row{
    margin:5px;

}

.main {
    display: flex;
    flex-direction: column;
    margin: 130px 0px;
}


h1 {
    font-size: 200%;
    color: var(--color-header);
    font-weight: 700;
    margin: 0 auto;
    padding: 10px 0px;
}

h2, h3 {
    color: var(--color-header);
    font-weight: 300;
    margin: 0 auto;
    padding: 10px 0px;
    letter-spacing: 1px;

}

h3.recent-space {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:fixed;
    top:0;
    width:100%;
}

li {
    display: inline;
    list-style-type: none;
    float: left; 
    background-color: #bfada6;
    text-align: center;
    font-size: 15px;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
}
.signup {
    margin: 20px;
}

.login {
    margin: 20px;
}

.signup_login {
    display: flex;
    margin: 0px auto;
    flex-direction: row;
}

.main_redirect {
    color: #3b3f47;
    padding: 10px 20px;
    border: 1px solid #3b3f47;
    box-sizing: border-box;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: .3s;
    transition-delay: 0s;
}


a:hover {
    background-color: #E4DFDA;
  }

p {
    /* margin: 0px auto; */
    text-align: center;
    padding: 10px 0px;
    font-weight: 300;
} 

input {
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.submit {
    margin-top: 20px;
    background-color: #1C2321;
    border: 1px solid #DDC9C1;
    text-shadow: none;
    transition-property: background-color;
    transition-duration: .3s;
    transition-delay: 0s;
    color: #DDC9C1;
}

.submit:hover {
    background-color: #5E6572
}

textarea {
    padding: 10px 10px;
    margin: 10px 10px;
}

div, label {
    line-height: 2;
    margin-bottom: 10px;
}

.redirect_login {
    color: black;
    font-weight: 500;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 100px 0px;
}

.title {
    margin: 0px 0px;
    padding: 0px;
}

.logout {
    margin: 0px;
    background-color:#ddc9c1;
}

/* for homepage.html */ 
.homepage {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.search-container{
    margin-top: 20px;
}

.search-container-form{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 700px;
    align-items: baseline;
    
}

.search-container-input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-bottom: 0px;
}

.search-div{
    display: flex;
    align-items: baseline;
}

.search-container-button{
    float: left;
    width: 20%;
    padding: 10px;
    background: #F2C47B;
    color: #333734;
    font-size: 17px;
    border: 1px solid grey;
      border-left-color: grey;
      border-left-style: solid;
      border-left-width: 1px;
    border-left: none;
    cursor: pointer;
}

.addspot {
    margin: 30px auto 0px;
    background-color:#3b3f47 !important;
    color: #DDC9C1 !important;
}

.flex-container {
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.spot {
    margin: 30px;
    /* border: border-box; */
    border: 2px solid transparent;
    padding: 10px;
    background-color: #bfada6; 
    flex: 1 1 0px;
}

.flex-container-homepage {
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.spot-homepage {
    margin: 30px;
    /* border: border-box; */
    border: 2px solid transparent;
    padding: 10px;
    background-color: #bfada6; 
    flex: 1 1 0px;
    min-width: 25%;
    max-width: 25%;
}

.spot:hover{
    /* background-color: white; */
    border: 2px solid transparent;
    color:#1C3360;
}

a:link {
    font-style: normal;
    text-decoration: none;
    color:#1C2321;
}

.light-text{
    color: #DDC9C1;
}

.flex-button-container{
    display: flex;
    align-items: center;
}

#edit {
    background-color: #544541;
    border: 1px solid #DDC9C1;
    padding: 10px 20px;
    font-size: 13px;
    max-height: 37.5px;
    color: #DDC9C1;
}

#edit:hover {
    background-color: #5E6572;
    border: 2px solid #DDC9C1;
    color:#DDC9C1;
}

a:visited {
    font-style: normal;
    text-decoration: none;
    color: black;
}
a:hover {
    font-style: normal;
    text-decoration: none;
}

.name {
    font-size: 24px;
    margin-bottom: 6px;
    transition-property: color;
    transition-duration: .3s;
    transition-delay: 0s;
    color: #1C2321;
}
/* .name:hover{
    color: grey;
} */
.location {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 6px;
    color: #3b3f47;
}

.recent-space{
    margin-top: 60px;
}

/* for addspot.html */
.addspot_p{
    text-align: left;
}

.addspot_label{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
fieldset {
    border-color: transparent !important;

}
.addspot_margins{
    margin: 30px 100px;
}
.margin-left-60{
    margin-left: 60px !important;
}

/* for search.html */

.flex-container-search{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.search-description{
    text-align: left;
}

/* for spot.html */

.spot-container{
    display:flex;   
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}
.spot-container-row{
    flex: 5
}

#spot_image {
    /* height: 25%; */
    width: 100%;
    
    height: 400px;
    object-fit: cover;
    /* width: 400px;
    margin-top: 20px;
    margin-bottom: 30px; */
}

.spot_content_p{
    text-align: left;
    font-weight: 300;
    padding: 0px;
    margin: 0px;

}

.spot_description{
    border: 1px solid #1C2321;
    max-width: 500px;
    padding: 0px 30px;
    margin-top:10px;
    margin-bottom:10px;

}
.spot_description_p{
    text-align: left;
    color: #1C2321;
}

.spot_amenities{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin-bottom: 50px;
}
.spot_amenities_p{
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

.spot_title{
    font-weight: 500;
}

.review-form{
    border: 1px solid #5E6572;
    padding: 20px;
    max-width: 500px;
    height: 250px;
    line-height: 2;
    color:#1C2321;
}
.review-container-button{
    margin-right: 100px;
}

.reviews-container{
    border: 1px solid #5E6572;
    padding: 20px;
    max-width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.spot_amenities_p {
    background-color: #bfada6;
    border: 1px solid #bfada6;
    padding: 10px 20px;
    color: #1C2321
}

.review-row{
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    color: #1C2321;
}

.review-comment {
    margin-top:10px;
    font-weight: lighter;
    line-height: 1.5;
    color: #1C2321;
}

.delete{
    margin: 0px;
}
