/* the --color-header and others are CSS variables, which we access later. 
*/

HTML {
    --color-header: #00000;  /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-hilite: #00000;  /* was red, but this avoids WAVE contrast errors */ 
    --color-focus: #00000;
    /* --font-family: Verdana; */
    --font-family: 'Inter', sans-serif;    
    font-family: var(--font-family);
    background-color: #E5E5E5;
}

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: var(--color-hilite);
    font-style: italic;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 130px 0px;
}


h1 {
    font-size: 200%;
    color: var(--color-header);
    font-weight: 700;
    margin: 0 auto;
    padding: 10px 0px;
}

h2, h3 {
    color: var(--color-header);
    font-weight: 300;
    margin: 0 auto;
    padding: 10px 0px;
    letter-spacing: 1px;

}

.signup_login {
    display: flex;
    margin: 0px auto;
    flex-direction: row;
}

.main_redirect {
    color: black;
    margin: 20px 50px;
    padding: 10px 20px;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: .3s;
    transition-delay: 0s;
}

a:hover {
    background-color: #a6a6a6;
  }

p {
    /* margin: 0px auto; */
    text-align: center;
    padding: 10px 0px;
    font-weight: 300;
} 

input {
    padding: 10px 20px;
    margin-bottom: 10px;

}

.submit {
    margin-top: 20px;
    background-color: #c7c7c7;
    border: 1px solid #c7c7c7;
    text-shadow: none;
    transition-property: background-color;
    transition-duration: .3s;
    transition-delay: 0s;
}

.submit:hover {
    background-color: #a6a6a6
}

.redirect_login {
    color: black;
    font-weight: 500;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 100px 0px;
}

.title {
    margin: 0px 0px;
    padding: 0px;
}

.logout {
    margin: 0px;
}

/* for homepage.html */ 
.homepage {
    margin-top: 30px;
    text-align: center;
}

.search-container{
    margin-top: 20px;
}

.search-container-form{
    margin: auto;
    max-width: 700px;
    display: flex;
}

.search-container-input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-bottom: 0px;

}

.search-container-button{
    float: left;
    width: 20%;
    padding: 10px;
    background: grey;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
      border-left-color: grey;
      border-left-style: solid;
      border-left-width: 1px;
    border-left: none;
    cursor: pointer;
}

.addspot {
    margin: 30px auto 0px;
}

.flex-container {
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.spot {
    margin: 30px;
    /* border: border-box; */
    border: 2px solid transparent;
    padding: 10px;
    background-color: #a6a6a6; 
}

.spot:hover{
    /* background-color: white; */
    border: 2px solid black;
    color: black;
}

a:link {
    font-style: normal;
    text-decoration: none;
    color: black;
}
a:visited {
    font-style: normal;
    text-decoration: none;
    color: black;
}
a:hover {
    font-style: normal;
    text-decoration: none;
}

.name {
    font-size: 24px;
    margin-bottom: 6px;
    transition-property: color;
    transition-duration: .3s;
    transition-delay: 0s;
}
/* .name:hover{
    color: grey;
} */
.location {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 6px;
}

.recent-space{
    margin-top: 60px;
}

/* for addspot.html */
.addspot_p{
    text-align: left;
}

.addspot_label{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.addspot_margins{
    margin: 30px 100px;
}

/* for search.html */

.flex-container-search{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.search-description{
    text-align: left;
}
