{% extends "base.html" %}

{% block search %}
{% endblock %}

{% block main_content %}
<div class = "navbar">
    <ul>
        <li><a href="{{ url_for('homepage') }}">Home</a></li>
        <li><a href="{{ url_for('addspot') }}">Add a spot</a></li>
    </ul>
</div>
<div class="addspot_margins">
    <h1>Add a new spot</h1>

    <form method="post" action="{{url_for('addspot')}}" enctype="multipart/form-data">
        <p class="addspot_p">
            <label class="addspot_label">Title:
                <input required type="text" name="spotname" size="50" placeholder="name of StudySpot">
            </label>
        </p>

        <p class="addspot_p">
            <label class = "addspot_label">Description:
            <textarea required name="description" rows="3" cols="50" placeholder="Give your StudySpot a description"></textarea>
            </label>
        </p>

        <p class="addspot_p">
            <label>Pic: 
                <input required type="file" name="pic" accept="image/*"></label>
        </p>

        <div>
            <fieldset>
            <legend>
            Select a location
            </legend>
            <div>
                <label>
                    <input required type="radio" name="location" value="Wellesley On-Campus">
                    Wellesley (on-campus)
                </label>
                <label>
                    <input required type="radio" name="location" value="Wellesley Off-Campus">
                    Wellesley (off-campus)
                </label>
                <label>
                    <input required type="radio" name="location" value="Boston">
                    Boston
                </label>
                <label>
                    <input required type="radio" name="location" value="Cambridge">
                    Cambridge
                </label>
            </div>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend>
                    Select amenities
                </legend>
                <div>
                    <label>
                        <input type="checkbox" name="amenities" value="Bathrooms">
                        Bathroom access
                    </label>
                    <label>
                        <input type="checkbox" name="amenities" value="Drinks">
                        Drinks options
                    </label>
                    <label>
                        <input type="checkbox" name="amenities" value="Food">
                        Food options
                    </label>
                    <label>
                        <input type="checkbox" name="amenities" value="Outlets">
                        Outlets available
                    </label>
                    <label>
                        <input type="checkbox" name="amenities" value="Wifi">
                        Free Wifi available
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="margin-left-60">
            <input class = "main_redirect" type="submit" value="Submit">
        </div>
    </form>
</div>

{% endblock %}