{% extends "base.html" %}

{% block main_content %}
<div class="addspot_margins">
    <h1>Add a new spot</h1>

    <form method="post" action="{{url_for('addspot')}}">
        <p class="addspot_p">
            <label class="addspot_label">Title:
                <input required type="text" name="spotname" size="50" placeholder="name of StudySpot">
            </label>
        </p>

        <p class="addspot_p">
            <label class = "addspot_label">Description:
            <textarea required name="description" rows="3" cols="50" placeholder="Give your StudySpot a description"></textarea>
            </label>
        </p>

        <div>
            Select a location
            <div>
                <label>
                    <input required type="radio" name="location" value="w-on">
                    Wellesley (on-campus)
                </label>
                <label>
                    <input required type="radio" name="location" value="w-off">
                    Wellesley (off-campus)
                </label>
                <label>
                    <input required type="radio" name="location" value="bos">
                    Boston
                </label>
                <label>
                    <input required type="radio" name="location" value="cam">
                    Cambridge
                </label>
            </div>
        </div>

        <div>
            Select amenities
            <div>
                <label>
                    <input type="checkbox" name="amenities" value="bathroom">
                    Bathroom access
                </label>
                <label>
                    <input type="checkbox" name="amenities" value="drinks">
                    Drinks options
                </label>
                <label>
                    <input type="checkbox" name="amenities" value="food">
                    Food options
                </label>
                <label>
                    <input type="checkbox" name="amenities" value="outlet">
                    Outlets available
                </label>
                <label>
                    <input type="checkbox" name="amenities" value="wifi">
                    Free Wifi available
                </label>
            </div>
        </div>
        <p>
            <input class = "main_redirect" type="submit" value="Submit">
        </p>
    </form>
</div>

{% endblock %}