<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet"> </head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
            
{% block nav %}
  <div class = "header">
    <h2 class = "title"><a href = "{{url_for('homepage')}}">StudySpots</a></h2>
    <a class = "main_redirect logout" href="{{ url_for('logout') }}">Log Out</a>
  </div>
{% endblock %}

{% block search %}
<div class = "main homepage">
  <h1>StudySpots</h1>
  <h3>Find and review on/off campus study spots</h3>
  <div class="search-container">
      <form class="search-container-form" action="{{url_for('search')}}">
        <label for="kind">Kind</label>
          <div class="flex-kind">
            <div class="kind-row">
                <select name="kind" id = "kind" required>
                <option disabled selected value>
                choose one
                </option>
                <option value="location">location</option>
                <option value="name">name</option>
                </select>
            </div>
          </div>
        <div class = "search-div">
        <label for ="search">Search</label>
        <input id = "search" class = "search-container-input" type="text" placeholder="Search.." name="search" required>
        <button class = "search-container-button" type="submit">Submit</button>
        </div>
      </form>
  </div>
</div>
{% endblock %}

{% block main_content %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% block end_scripts %}
{% endblock %}
  
</body>
</html>
