{% extends "base.html" %}

{% block search %}
{% endblock %}

{% block main_content %}
<div class="addspot_margins">
    <h1>Edit: {{spotname}}</h1>

    <form method="post" action="{{url_for('edit_spot', sid = sid)}}" enctype="multipart/form-data">
        <p class="addspot_p">
            <label class="addspot_label">Title:
                <input type="text" name="spotname" size="50" value="{{spotname}}">
            </label>
        </p>

        <p class="addspot_p">
            <label class = "addspot_label">Description:
            <textarea name="description" rows="3" cols="50">{{description}}</textarea>
            </label>
        </p>

        <p class="addspot_p">
            <label>Pic: 
                <input type="file" name="pic"></label>
        </p>

        <div>
            <fieldset>
                <legend>
                    Select a location
                </legend>
            <div>
                <label>
                    {% if 'Wellesley On-Campus' in location %}
                    <input type="radio" name="location" value="Wellesley On-Campus" checked="checked">
                    {% else %}
                    <input type="radio" name="location" value="Wellesley On-Campus">
                    {% endif %}
                    Wellesley (on-campus)
                </label>
                <label>
                    {% if 'Wellesley Off-Campus' in location %}
                    <input type="radio" name="location" value="Wellesley Off-Campus" checked="checked">
                    {% else %}
                    <input type="radio" name="location" value="Wellesley Off-Campus">
                    {% endif %}
                    Wellesley (off-campus)
                </label>
                <label>
                    {% if 'Boston' in location %}
                    <input type="radio" name="location" value="Boston" checked="checked">
                    {% else %}
                    <input type="radio" name="location" value="Boston">
                    {% endif %}
                    Boston
                </label>
                <label>
                    {% if 'Cambridge' in location %}
                    <input type="radio" name="location" value="Cambridge" checked="checked">
                    {% else %}
                    <input type="radio" name="location" value="Cambridge">
                    {% endif %}
                    Cambridge
                </label>
            </div>
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>
                    Select amenities 
                </legend>
            <div>
                <label>
                    {% if 'Bathrooms' in amenities %}
                    <input type="checkbox" name="amenities" value="Bathrooms" checked="checked">
                    {% else %}
                    <input type="checkbox" name="amenities" value="Bathrooms">
                    {% endif %}
                    Bathroom access
                </label>
                <label>
                    {% if 'Drinks' in amenities %}
                    <input type="checkbox" name="amenities" value="Drinks" checked="checked">
                    {% else %}
                    <input type="checkbox" name="amenities" value="Drinks">
                    {% endif %}
                    Drinks options
                </label>
                <label>
                    {% if 'Food' in amenities %}
                    <input type="checkbox" name="amenities" value="Food" checked="checked">
                    {% else %}
                    <input type="checkbox" name="amenities" value="Food">
                    {% endif %}
                    Food options
                </label>
                <label>
                    {% if 'Outlets' in amenities %}
                    <input type="checkbox" name="amenities" value="Outlets" checked="checked">
                    {% else %}
                    <input type="checkbox" name="amenities" value="Outlets">
                    {% endif %}
                    Outlets available
                </label>
                <label>
                    {% if 'Wifi' in amenities %}
                    <input type="checkbox" name="amenities" value="Wifi" checked="checked">
                    {% else %}
                    <input type="checkbox" name="amenities" value="Wifi">
                    {% endif %}
                    Free Wifi available
                </label>
                </div>
            </fieldset>
        </div>
        <input class = "main_redirect" type="submit" value="Submit">
    </form>
</div>

{% endblock %}