{% extends "base.html" %}

{% block main_content %}
<div class = "main homepage">
    <h3>Search Results for: "{{query}}"</h3> 
    <div class="flex-container-search">
        {% for s in rows %}
        <a class = "spot" href="{{url_for('studyspot_lookup', sid = s['sid'])}}">
            <div>
            <h4 class='name'>{{s['spotname']}}</h4>
            <h4 class='location'>{{s['location']}}</h4>
            <p class = 'search-description'>{{s['description']}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
