{% extends "base.html" %}

{% block main_content %}

<form method = "POST" action ="{{url_for('signup')}}" class = "form">
    <p>
        <label> Wellesley Email: 
            <input type = "email"  name = "email" value="{{email}}"><br/>
        </label>
        <label> Username: 
            <input type = "text"  name = "username" value={{username}}><br/>
        </label>
        <label> Password: 
            <input type = "text"  name = "password" value="{{password}}"><br/>
        </label>
        <input type = "submit" name = "submit" value = "sign up">
    </p>
</form>    

{% endblock %}
