{% extends "base.html" %}

{% block search %}
{% endblock %}


{% block main_content %}
<div class='addspot_margins'>
    <h1>{{title}}</h1>
    
    <a href="{{url_for('edit', sid = sid)}}">Edit</a>

    <h2 class="spot_title">Location</h2>
    <div class='spot_content'>
            <p class="spot_content_p">{{location}}</p>
    </div>
    
    <div class="spot_description">
        <p class="spot_description_p">
            {{description}}
        </p>
    </div>

    <h2 class="spot_title">Amenities</h2>
    <div class='spot_amenities'>
          {% for a in amenities %}
              <p class = "spot_amenities_p">{{a}}</p>
          {% endfor %}
      </div>

      <h2 class="spot_title">Reviews</h2>
      <div class="review-form">
        <h3>Write a Review</h3>
        <form class="review-container-form" action="{{url_for('review', sid = sid)}}", method = "post">
            <label for="rating">Rating</label>
            <select name="rating" id = "rating" required>
                <option value="" disabled selected value>choose one</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
            </select>
            <label class = "addspot_label">
                <textarea required name="comment" rows="3" cols="50" placeholder="Write a review"></textarea>
            </label>              
            <input class = "review-container-button" type="submit" value="Submit">
        </form>
      </div>

      {% if rows|length > 0 %}
        <div>
            {% for row in rows %}
                {{row}}
            {% endfor %}
        </div>
      {% endif %}
</div>

{% endblock %}