{% extends "base.html" %}

{% block search %}
{% endblock %}


{% block main_content %}
<div class='addspot_margins'>
    <h1>{{title}}</h1>
    
    <div class="flex-button-container">
    <a id="edit" class="flex-button-row" href="{{url_for('edit_spot', sid = sid)}}"> Edit</a>
    </div> 

    <div class="spot-container">
    
    <div class="spot-container-row">
        <div class="spot_description">
            <p class="spot_description_p">
                {{description}}
            </p>
        </div>

    <h2 class="spot_title">Location</h2>
        <div class='spot_content'>
            <p class="spot_content_p">{{location}}</p>
            <h2 class="spot_title">Amenities</h2>
                <div class='spot_amenities'>
                    {% for a in amenities %}
                     <p class = "spot_amenities_p">{{a}}</p>
                     {% endfor %}
                </div>

     </div>
    </div>


    </div>

      <h2 class="spot_title">Reviews</h2>
      <div class="review-form">
        <h3>Write a Review</h3>
        <form class="review-container-form" action="{{url_for('review', sid = sid)}}", method = "post">
            <label for="rating">Rating</label>
            <select name="rating" id = "rating" required>
                <option disabled selected value>choose one</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
            </select>
            <div class = "addspot_label">
                <textarea required name="comment" rows="3" cols="50" placeholder="Write a review" aria-label="write a review"></textarea>
            </div>              
            <input class = "review-container-button" type="submit" value="Submit" aria-label="submit review">
        </form>
      </div>

      {% if reviews|length > 0 %}
        <div>
            {% for review in reviews %}
            <div class="reviews-container">
                <h3>{{review['username']}}</h3>
                <div class="review-row"><b>Rating: </b>{{review['rating']}}/5</div>
                <div class="review-row review-comment">{{review['comment']}}</div>
                {% if review['author'] == uid %}
                    <form action = "{{url_for('delete_review', rid = review['rid'])}}" method = "POST">
                        <input class = "submit" type = "submit" name = "submit" value = "Delete">
                    </form>    
                {% endif %}
            </div>
            {% endfor %}
        </div>
      {% endif %}
      <form action = "{{url_for('delete_spot', sid = sid)}}" method = "POST">
        <input class = "submit light-text flex-button-row" type = "submit" name = "submit" value = "Delete spot">
    </form>   
</div>

{% endblock %}